@import './assets/css/bootstrapGrid.css';


body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background-color: white;
  text-transform: uppercase;
}
.app{
  color: white;
}
.appHeader{
  text-align: center;
}

.quizContainer, .home{
  background: url('./assets/images/bg-game-1.jpg') no-repeat;
  background-size: cover;
  background-position: center;
  text-align: center;
  padding-bottom: 1em;
  margin-bottom: 2em;
  border-radius: 1em;
  border: 3px solid black;
}

.home{
  margin-top: 2em;
  min-height: 25em;
  min-width: 30em;
}

.posterBackground{
  object-fit: contain;
  max-height: 300px;
  padding-bottom: 1em
}

.quizQuestions{
  z-index: 2;
}

.answer {
  padding: 1em;
  margin-bottom: 1em;
  border-radius: 1em;
  background-color: rgba(255,255,255,0.5);
  list-style: none;
  cursor: pointer;
}

.answer:hover{
  background-color: rgba(255,255,255,0.7);
}

button{
    background-color: #0092FF;
    color: white;
    border-radius: 5px;
    padding: 1em;
    margin: .5em;
    border:none;
}
